DB_USERNAME=postgres
DB_PASSWORD=postgres
MAIL_ENABLED=false
MAIL_USERNAME=
MAIL_PASSWORD=
SSL_KEYSTORE_PASSWORD=123456
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=tinterest-images
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
