# ── DATABASE (PostgreSQL) ────────────────────────────────────────
DB_HOST=tinterest-db
DB_PORT=5432
DB_NAME=tinterest_db
DB_USERNAME=
DB_PASSWORD=

# ── SERVER ──────────────────────────────────────────────────────
SERVER_PORT=8443

# ── SSL ─────────────────────────────────────────────────────────
SSL_ENABLED=true
SSL_KEYSTORE_PATH=file:/app/secrets/keystore.p12
SSL_KEYSTORE_PASSWORD=
SSL_KEY_ALIAS=tinterest

# ── MAIL ────────────────────────────────────────────────────────
MAIL_ENABLED=false
MAIL_HOST=smtp.mail.ru
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_STARTTLS_ENABLE=true

# ── JWT ─────────────────────────────────────────────────────────
JWT_PRIVATE_KEY_PATH=file:/app/secrets/keys/private.pem
JWT_PUBLIC_KEY_PATH=file:/app/secrets/keys/public.pem
JWT_ACCESS_TOKEN_EXPIRATION_MS=900000
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=15

# ── MINIO (S3 storage) ──────────────────────────────────────────
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=tinterest-images

# ── REDIS ───────────────────────────────────────────────────────
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379